<div class="container">
  <section class="title-container">
    <h3>Search Flights</h3>
  </section>

  <section class="form-container">
    <form class="search-form" (ngSubmit)="onSubmit()" #inputForm="ngForm">
      <mat-form-field>
        <mat-label>One Way Or Round Trip</mat-label>
        <select matNativeControl [(ngModel)]="tripType" name="tripType" required>
          <option value="roundTrip" selected="selected">Round Trip</option>
          <option value="oneWay">One Way</option>
        </select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Seat Class</mat-label>
        <select matNativeControl [(ngModel)]="seatClass" name="seatClass" required>
          <option value="coach" selected="selected">Coach</option>
          <option value="firstClass">First Class</option>
        </select>
      </mat-form-field>



      <mat-form-field class="example-full-width">
        <input matInput placeholder="Departure" [(ngModel)]="departureAirPort" name="departureAirPort" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Arriving" [(ngModel)]="arrivalAirPort" name="arrivalAirPort" required>
      </mat-form-field>

      <!--<mat-form-field class="example-full-width">-->
      <!--<textarea matInput placeholder="Leave a comment"></textarea>-->
      <!--</mat-form-field>-->

      <mat-form-field>
        <input matInput [matDatepicker]="departurePicker" placeholder="Outbound Date" [(ngModel)]="outboundDate"
               name="outboundDate" (dateChange)="onOutboundDateChange($event.target.value)" required>
        <mat-datepicker-toggle matSuffix [for]="departurePicker"></mat-datepicker-toggle>
        <mat-datepicker #departurePicker></mat-datepicker>
      </mat-form-field>


      <mat-form-field *ngIf="tripType === 'roundTrip'">
        <input matInput [matDatepicker]="inboundPicker" placeholder="Inbound Date" [(ngModel)]="inboundDate"
               name="inboundDate" (dateChange)="onInboundDateChange($event.target.value)">
        <mat-datepicker-toggle matSuffix [for]="inboundPicker"></mat-datepicker-toggle>
        <mat-datepicker #inboundPicker></mat-datepicker>
      </mat-form-field>

      <button [disabled]="isDisabled()" type="submit" mat-raised-button color="primary">Search</button>

    </form>
  </section>

  <div *ngIf="flights && !loading" class="flights-container">
    <mat-form-field>
      <mat-label>Sort Search Results</mat-label>
      <select matNativeControl [(ngModel)]="sortParam" name="sortParam" (change)="onSortChange($event.target.value)">
        <option value="travelTime" selected="selected">Travel Time</option>
        <option value="depTime">Departure Time</option>
        <option value="arrTime">Arrival Time</option>
        <option value="totalPrice">Total Price</option>
      </select>
    </mat-form-field>
    <mat-form-field class="filter-container">
      <mat-label>Filter Search Results</mat-label>
      <select matNativeControl [(ngModel)]="filtertParam" name="filtertParam" (change)="onFilterChange($event.target.value)">
        <option value="all" selected="selected">All</option>
        <option value="1">None Stop</option>
        <option value="2">1 Stop</option>
        <option value="3">2 Stops</option>
      </select>
    </mat-form-field>

    <div *ngFor="let f of flights">
      <span #header [attr.data-summary]="f">{{f}}</span>
      <span *ngIf="f.includes('Departure')">
        <button type="submit" mat-raised-button color="primary" (click)="reserve(header.dataset.summary)">Reserve</button>
      </span>
    </div>
  </div>
  <div *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>

<router-outlet></router-outlet>
