<div class="container">
  <section class="title-container">
    <h3>Search Flights</h3>
  </section>

  <section class="form-container">
    <form class="search-form" (ngSubmit)="onSubmit()" #inputForm="ngForm">
      <mat-form-field>
        <mat-label>One Way Or Round Trip</mat-label>
        <select matNativeControl [(ngModel)]="tripType" name="tripType">
          <option value="roundTrip" selected="selected">Round Trip</option>
          <option value="oneWay">One Way</option>
        </select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Seat Class</mat-label>
        <select matNativeControl [(ngModel)]="seatClass" name="seatClass">
          <option value="coach" selected="selected">Coach</option>
          <option value="firstClass">First Class</option>
        </select>
      </mat-form-field>



      <mat-form-field class="example-full-width">
        <input matInput placeholder="Departure" [(ngModel)]="departureAirPort" name="departureAirPort">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Arriving" [(ngModel)]="arrivalAirPort" name="arrivalAirPort">
      </mat-form-field>

      <!--<mat-form-field class="example-full-width">-->
      <!--<textarea matInput placeholder="Leave a comment"></textarea>-->
      <!--</mat-form-field>-->

      <mat-form-field>
        <input matInput [matDatepicker]="departurePicker" placeholder="Outbound Date" [(ngModel)]="outboundDate" name="outboundDate">
        <mat-datepicker-toggle matSuffix [for]="departurePicker"></mat-datepicker-toggle>
        <mat-datepicker #departurePicker></mat-datepicker>
      </mat-form-field>


      <mat-form-field *ngIf="tripType === 'roundTrip'">
        <input matInput [matDatepicker]="inboundPicker" placeholder="Inbound Date" [(ngModel)]="inboundDate" name="inboundDate">
        <mat-datepicker-toggle matSuffix [for]="inboundPicker"></mat-datepicker-toggle>
        <mat-datepicker #inboundPicker></mat-datepicker>
      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Search</button>

    </form>
  </section>

  <div *ngIf="flights" class="flights-container">
    <div *ngFor="let f of flights">
      <span #header [attr.data-summary]="f">{{f}}</span>
      <span *ngIf="f.includes('Departure')">
        <button type="submit" mat-raised-button color="primary" (click)="reserve(header.dataset.summary)">Reserve</button>
      </span>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
